<div class="container">
  <% if flash[:notice] %>
   <%= flash[:notice] %>
<% end %>
  <div class="col-lg-6 offset-lg-4">
    <%= link_to '商品新規追加', admin_new_item_path, class: 'btn btn-light' %>
  </div>

  <div class="col-lg-6 offset-lg-4">
    <%= link_to 'コミュニティリクエスト一覧', admin_communities_request_index_path, class: 'btn btn-light' %>
  </div>

  <div class="col-lg-6 offset-lg-4">
    <%= link_to '定期購買申請者一覧', admin_subscription_index_path, class: 'btn btn-light' %>
  </div>

  <div class="col-lg-6 offset-lg-4">
    <%= link_to '受注情報検索', admin_orders_path, class: 'btn btn-light' %>
  </div>

</div>