<div class="container">
	<h2>カート</h2>
	<!-- 商品ごとにループ処理 -->
	<% if @cart_items.empty? %>
	<div class="justify-content-md-center">
	<p>カートに追加された商品はありません</p>
	</div>
	<%else%>
	<% @cart_items.each do |ci| %>
	<div class="row detail justify-content-md-center">
		<!-- 左側：商品画像 -->
		<div class="col-lg-2 text-right">
			<%= attachment_image_tag ci.item, :image, :fill, 100, 100, :size => "150x150", fallback: "no-item-image.jpg" %>
		</div>
		<!-- 右側：商品説明 -->
		<div class="col-lg-7" >
			<div class="item_detail" >
				<table class="table table-sm">
					<tr>
						<th>アーティスト名</th>
						<th>アルバム/シングル名</th>
					</tr>
					<tr>
						<td><%= ci.item.artist.artist_name %></td>
						<td><%= ci.item.item_name %></td>
					</tr>
				</table>
			</div>

			<div class="row">
				<div class="col-lg-4 py-1 pl-5">
					<p>   ¥
						<%= ci.quantity * ci.item.price %>
					</p>
				</div>
				<div class="col-lg-8 text-lg-center">
					<div class="form-group form-inline">
						枚数：<%= ci.quantity %>
						<div class="pl-3">
							<%= link_to '+', shopping_cart_show_path(params[:id], ci_id: ci.id, status: 0), class:"btn-sm btn-light ", method: :patch %>
							<% if ci.quantity >= 2 %>
							  <%= link_to '-', shopping_cart_show_path(params[:id], ci_id: ci.id, status: 1), class:"btn-sm btn-light ", method: :patch %>
							<% else %>
							  <%= link_to '-', shopping_cart_show_path(params[:id], ci_id: ci.id), class:"btn-sm btn-light ", method: :delete, data: { confirm: 'カートから商品を削除しますか？' } %>
							<% end %>
						</div>
							<%= link_to 'Destroy', shopping_cart_show_path(params[:id], ci_id: ci.id), class:"btn-sm btn-danger ", method: :delete, data: { confirm: 'カートから商品を削除しますか？' } %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<% end %>

	<!-- 最下段：合計額・注文確認 -->
	<div class="row text-right">
		<div class="col-lg-9">
			<p>合計　　¥
				<%= @pricesums %>
			</p>
		</div>
		<div class="col-lg-2">
		<%= link_to '注文確認', shopping_cart_order_new_path(params[:id]), class:"btn-sm btn-light ", method: :get %>
		</div>
	</div>
	<%end%>
</div>
<br>
<br>
<br>
<br>