<div class="container" >
	<h2>受注情報編集</h2>

	--------------------------------------------------------------------------------------------------------------------------------------
	<div class="row">
		<div class="col-lg-10 offset-lg-1">


			<div class="row" style="padding: 50px 0 0 0 " >
				<div class="person_days" >
					<p>注文者名：<%= @order.shopping_cart.user.name %></p>
					<p>注文日時：<%= @order.created_at.strftime('%Y年%m月%d日') %></p>
				</div>
			</div>


           <!--  エラーメッセージ -->
           <%= render "layouts/error_messages", model: @order %>

			<div class="row" >
				<div style="padding: 50px 0 200px 0 ">
				<%= form_for @order, url: admin_order_path(@order.id), method: :patch do |edit| %>
					<h3>注文者住所</h3>

					<div class="postal-field" >
						<p>郵便番号（ハイフンなし）</p>
						<p><%= edit.number_field :postal_code %></p>
					</div>

					<div class="address-field">
						<p>住所</p>
						<%= edit.text_field :address %>
					</div>

					<div class="select" >
						<p>受注ステータス</p>
						<P><%= edit.select :status, [["受付中", "1"], ["商品準備中", "2"], ["出荷済み", "3"]],:prompt => "選択" %></P>
					</div>

					<div class="submit col-lg-1 offset-lg-8" style="padding-top: 30px">
						<%= edit.submit "Update", class: "btn btn-light" %>
					</div>
				<% end %>
				</div>
			</div>

		</div>
	</div>
</div>