<div class="container">
  <div class="row">
    <h1>受注情報詳細</h1>
  </div>
<br>
  <div class="row">
    <div class="col">
    <p><strong>購入日 <%= @order.updated_at.strftime('%Y/%m/%d') %></strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">アーティスト</th>
            <th scope="col">シングル／アルバム名</th>
            <th scope="col">価格</th>
            <th scope="col">枚数</th>
          </tr>
        </thead>
      <% @item.each do |item| %>
        <tbody>
         <tr>
            <td><%= attachment_image_tag item.image_id, :image, :fill, 200, 200, :size => "50x50", fallback: "no-item-image.jpg" %></td>
            <td><%= item.artist.artist_name %></td>
            <td><%= item.item_name %></td>
            <td><%= @cart.price %>円</td>
            <td><%= @cart.quantity %>枚</td>
        </tr>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 offset-9">
      <p><strong>ステータス : 
        <% if @order.status == 1 %>受付中
        <% elsif @order.status == 2 %>商品準備中
        <% else %>出荷済み
        <% end %></strong></p>
      <p><strong>合計金額 : <%= @total %>円（税込)</strong></p>
    </div>
  </div>


<br>
  <div class="row">
    <div class="col">
      <h5><strong>ご注文者 : <%= @shopping.user.name %> さん</strong></h5>
<br>
<br>
      <h5><strong>ご住所</strong></h5>
      <div class="col">
        <p>〒<%= @order.postal_code %></p>
        <p><%= @order.address %></p>
      </div>
    </div>

    <div class="col">
      <h5><strong>お支払い方法</strong></h5>
      <div class="col">
        <p>
          <% if @order.payment == 1 %>クレジットカード支払い
          <% else %>銀行振込
          <% end %>
        </p>
      </div>
<br>
      <% if @order.payment == 1 %>
      <h5><strong>クレジットカード情報</strong></h5>
        <div class="col">
          <p>カード名義 <%= @credit.name %></p>
          <p>No. <%= @credit.card_number %></p>
          <p>有効期限　<%= @credit.month %> 月/ <%= @credit.year %>年</p>
      <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-8">
      <%= link_to "受注情報編集", edit_admin_order_path(@order), class: 'btn btn-light' %>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>