<div class="container">
  <div class="row">
    <h1>受注情報詳細</h1>
  </div>
<br>
  <div class="row">
    <div class="col">
    <p>日付 <%= @order.updated_at.strftime('%Y/%m/%d') %></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">アーティスト</th>
            <th scope="col">シングル／アルバム名</th>
            <th scope="col">価格</th>
            <th scope="col">枚数</th>
          </tr>
        </thead>
      <% @item.each do |item| %>
        <tbody>
         <tr>
            <td><%= attachment_image_tag item.image_id, :image, :fill, 200, 200, :size => "50x50", fallback: "no-item-image.jpg" %></td>
            <td><%= item.artist.artist_name %></td>
            <td><%= item.item_name %></td>
            <td><%= @cart.price %>円</td>
            <td><%= @cart.quantity %>枚</td>
        </tr>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 offset-9">
      <p>ステータス 
        <% if @order.status == 1 %>受注
        <% elsif @order.status == 2 %>準備中
        <% else %>完了
        <% end %></p>
      <p>合計金額 <%= @total %>円（税込)</p>
    </div>
  </div>


<br>
  <div class="row">
    <div class="col">
      <h4>User名　<%= @shopping.user.name %>さん</h4>
      <p>住所</p>
      <p><%= @order.postal_code %></p>
      <p><%= @order.address %></p>
    </div>

    <div class="col">

      <h4>お支払い方法</h4>
        <p>
          <% if @order.payment == 1 %>クレジットカード支払い
          <% else %>銀行振込
          <% end %>
        </p>
      <% if @order.payment == 1 %>
        <p>クレジットカード情報</p>
        <p>カード名義 <%= @credit.name %></p>
        <p>No. <%= @credit.card_number %></p>
        <p>有効期限　<%= @credit.month %> / <%= @credit.year %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-8">
      <%= link_to "受注情報編集", edit_admin_order_path(@order), class: 'btn btn-light' %>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>