<div class="container">
  <div class="row">
    <h1>受注情報詳細</h1>
  </div>
<br>
  <div class="row">
    <div class="col">
    <p>日付 <%= @order.updated_at %></p>
    </div>
  </div>
  <div class="row">
    <img src="https://upload.wikimedia.org/wikipedia/ja/b/b5/Noimage_image.png">
    <div class="col">
      <table div class="table">
        <thead>
          <tr>
             <th>アーティスト　　</th>
             <th>シングル／アルバム名　　</th>
          </tr>
        </thead>
      <%= @item.each do |item| %>
        <tbody>
         <tr>
              <td>
                <a><%= item.artist.artist_name %>　　</a>
              </td>
              <td>
                <a><%= item.item_name %>　</a>
              </td>
        </tr>
        </tbody>
      <% end %>
      </table>
<br>
<br>

      <p>価格 <%= @cart.price %>円</p>
      <p>枚数 <%= @cart.quantity %>枚</p>
      <p>ステータス　<%= @order.status %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-8">
      <p>合計金額 ¥2,000（税込)</p>
    </div>
  </div>

<br>

  <div class="row">
    <div class="col">
      <h4>User名　<%= @user.name %>さん</h4>
      <p>住所</p>
      <p><%= @order.postal_code %></p>
      <p><%= @order.address %></p>
    </div>

    <div class="col">

      <h4>お支払い方法</h4>
      <p><%= @order.payment %></p>
      <p>クレジットカード情報</p>
      <a>No. <%= @credit.card_number %>
      有効期限　<%= @credit.month %> / <%= @credit.year %>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-8">
      <%= link_to "受注情報編集", edit_admin_order_path(@order), class: 'btn btn-light' %>
<br>
<br>
    </div>
  </div>
</div>