<div class="container">
  <div class="row">
    <h1>受注情報詳細</h1>
  </div>
<br>
  <div class="row">
    <div class="col">
    <p>日付 <%= @order.updated_at.strftime('%y年%m月%d日') %></p>
    </div>
  </div>
  <div class="row">
    <img src="https://upload.wikimedia.org/wikipedia/ja/b/b5/Noimage_image.png">
    <div class="col">
      <table>
        <thead>
          <tr>
             <th>アーティスト　　</th>
             <th>シングル／アルバム名　　</th>
          </tr>
        </thead>
        <tbody>
         <tr>
         <% @item.each do |item| %>
              <td>
                <a><%= item.artist.artist_name %>　　</a>
              </td>
              <td>
                <a><%= item.item_name %>　</a>
              </td>
        <% end %>
        </tr>
        </tbody>
      </table>
<br>
<br>

      <p>価格 <%= @cart.item.price %>円</p>
      <p>枚数 <%= @cart.quantity %>枚</p>
      <p>ステータス　<%= @order.status %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-8">
      <p>合計金額 ¥<%= @total %>（税込)</p>
    </div>
  </div>

<br>

  <div class="row">
    <div class="col">
      <h4>User名</h4>
      <p><%= @user.name %>さん</p>
      <h4>住所</h4>
      <p>〒<%= @order.postal_code %></p>
      <p><%= @order.address %></p>
    </div>

    <div class="col">
      <h4>お支払い方法</h4>
      <p><%= @order.status %></p>
      <h4>クレジットカード情報</h4>
      <p>No. <%= @credit.card_number %></p>
      <p>有効期限　<%= @credit.month %> / <%= @credit.year %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-8">
      <%= link_to "受注情報編集", edit_admin_order_path(@order), class: 'btn btn-light' %>
<br>
<br>
    </div>
  </div>
</div>