<div class="container">
	<h1>コミュニティ名　<%= @community.name %></h1>

	<h2>Question一覧</h2>
	<div class="row">
		<div class= "col">
			<% @questions.each do |question| %>
				<ul>
					<li>
						<strong>Q. <%= question.question %></strong>
						<button type="button" class="btn btn-info"><%= link_to "詳細", community_qa_show_path(@community,question.id) %></button>
					<% if defined? show %>
					<% if @questions.user_id == current_user.id %>
	    				<button type="button" class="btn btn-danger"><%= link_to "削除", community_question_index_path(@community),method: :delete,"data-confirm" => "Are you sure?" %></button>
	    			<% end %>
					<% end %>
					</li>
				</ul>
			<% end %>
		</div>
	</div>
		<br>
	<div class="row">
		<div class="col-md-3 offset-md-8">
			<%= button_to '質問を投稿する', community_question_new_path, method: :get %>
			</div>
		</div>
	</div>
	<br>
</div>