<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-md-8">
      <h2>マイコミュニティ</h2><br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">コミュニティ名</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @community.each do |community| %>
          <tr>
            <td><%= community.community.name %></td>
            <td><%= link_to "詳細", communities_show_path(community), class: "btn btn-light" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @community %>
    </div>
    <div class="col-md-5 offset-7">
      <%= link_to "新規コミュニティリクエスト", admin_communities_new_path, class: "btn btn-light" %>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>