    <div class="container" style="padding-top: 80px">
    	<div class="row">
            <!-- サイドバー -->
    		<div  class="col-lg-5">
    			<%= render 'layouts/sidebar', user: @user, history: @history %>
    		</div>

    		<div class="col-lg-7 " style="padding-top: 80px" >
                <!-- 実績ポイント・ランキング -->
                <div class="point_ranking" >
    				<table>
    					<tbody>
    						<tr>
    							<th id="ranking"><h3><strong> Point</strong></h3></th>
    							<th id="point"><h2><strong><%= @user.point %><strong></h2></th>
                                <th><h3> pt</h3></th>
    						</tr>
    						<tr>
    							<th id="ranking">
                                    <h3><strong>
                                        <%= link_to "Ranking", users_ranking_path, class: "users_ranking"%>
                                    </strong></h3>
                                </th>
    							<th id="ranking"><h4><h4></th>
    						</tr>
    					</tbody>
    				</table>
    			</div>

    				<br>
    				<br>

    				<!-- マイコミュニティ表示 -->
    				<h3>マイコミュニティ</h3>
    					<table class="table">
    						<thead>
    							<tr>
    								<% @my_communities.each do |mc| %>
                                    <tr>
                                        <th>
                                         <%= link_to users_my_community_path, class: "histories_all" do %>
                                         <%= @artist.find(mc.artist_id).artist_name %>
                                         <% end %></th>
                                    </tr>
                                    <% end %>
                                </tr>
                            </thead>
    					</table>
    					<%= link_to "more", users_my_community_path, class: "users_my_community"%>
    					<br>
    					<br>

                        <!-- 自ユーザーのみ表示 -->
                        <%= link_to '退会', users_cancel_show_path, class: "btn btn-outline-secondary" %>
    				</div>
    			</div>
    		</div>
    	</div>