<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h1>コミュニティリクエスト一覧</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <table class="table">
        <thead>
          <tr>
             <th>日付</th>
             <th>コミュニティ名</th>
             <th></th>
             <th></th>
          </tr>
        </thead>
        <% @community.each do |community| %>
        <tbody>
          <tr>
            <td><%= community.created_at.strftime('%y年%m月%d日') %></td>
            <td><%= community.name %></td>
            <td><%= link_to "確認", admin_communities_new_path(community.id), class: "btn btn-light" %></td>
            <td><%= link_to "削除", admin_destroy_community_path(community_id: community.id), method: :delete, class: "btn btn-light", "data-confirm" => "Are you sure?" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= paginate @community, class: "pagenate" %>
    </div>
  </div>
<br>
</div>