<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1>定期購買申請</h1>
		</div>
	</div>
	<div class="row">
		<h4>アーティスト名 <%= @community.name %></h4>
	</div>
<br>

	<div class="row">
		<div class="image">
      		<%= attachment_image_tag @community.image_id, :image, :fill, 200, 200, :size => "100x100", fallback: "no-user-image.jpg" %>
    	</div>
		<div class="col">
			<h5>紹介文</h5>
			<p><%= @community.introduction %></p>
		</div>
	</div>
<br>
		<%= form_for(@order.payment, url: user_credits_path) do |f| %>
		<h4>お支払い方法</h4>
		<div class="checkbox">
			<%= form.label :chekckbox %>
    		<%= form.check_box :checkbox, "チェックボックス" %>
    	</div>
  		<div class="action">
			<%= f.submit class: "btn btn-light" %>
		</div>
		<% end %>

</div>
