<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "layouts/sidebar", user: current_user %>
    </div>
    <div class="col-md-9">
      <h2>User購入履歴</h2><br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">購入日</th>
            <th scope="col">点数</th>
            <th scope="col">合計金額</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @shopping.each do |shopping| %>
          <tr>
            <td><%= shopping.order.created_at.strftime('%Y年%m月%d日') %></td>
            <td><%= shopping.cart_items.sum(:quantity) %> 点</td>
            <td>¥ <%= shopping.cart_items.sum(:price) * shopping.cart_items.sum(:quantity) %></td>
            <td><%= link_to "詳細", user_histories_path(shopping.order.id), class: "btn btn-light" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= paginate @shopping, class: "pagenate" %>
  </div>
</div>
