<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-md-9">
      <h2><%= l @order.created_at, format: :long %>のご購入</h2><br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">点数</th>
            <th scope="col">金額</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @history.each do |h| %>
           <% h.cart_items.each do |c| %>
            <tr>
              <td>
                <%= link_to item_path(c.item.id) do %>
                    <%= c.item.item_name %>
                <% end %> /
                <%= link_to communities_show_path(c.item.artist.id) do %>
                    <%= c.item.artist.artist_name %>
                <% end %>
              </td>
              <td><%= c.quantity %> 点</td>
              <td>¥ <%= c.price %></td>
              <td><%= link_to "詳細", user_history_path(c.id, order_id: @order.id) ,  class: "btn btn-outline-secondary" %></td>
          </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <%= paginate @history, class: "pagenate" %>
      </div>
    </div>
  </div>
</div>
