<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-lg-8">
      <h2><%= @order.created_at.strftime('%Y年%m月%d日') %>のご購入</h2><br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">点数</th>
            <th scope="col">金額</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @history.each do |h| %> <!-- ① -->
           <% h.cart_items.each do |c| %> <!-- ② -->
            <tr>
              <td>
                <%= link_to item_path(c.item.id) do %>
                    <%= c.item.item_name %>
                <% end %> /
                <%= link_to communities_show_path(c.item.artist.id) do %>
                    <%= c.item.artist.artist_name %>
                <% end %>
              </td>
              <td><%= c.quantity %> 点</td>
              <td>¥ <%= c.price %></td>
              <td><%= link_to "詳細", user_history_path(c.id, order_id: @order.id) ,  class: "btn btn-light" %></td>
          </tr>
          <% end %> <!-- ② -->
        </tbody>
      </table>
      <div class="row justify-content-center">
        <%= paginate @history, class: "pagenate" %>
      </div>
      <div class="row float_right">
        <div class="col-lg-7 my-lg-5 py-3 ">
          <h4 class="text-right">点数:<u><strong><%= h.cart_items.sum(:quantity) %></strong> 点</u></h4>
        </div>
        <div class="col-lg-5 my-lg-5 py-3">
          <h4>支払総計:<u>¥ <strong><%= @pricesums %></strong></u></h4>
        </div>
        <% end %> <!-- ① -->
      </div>
    </div>
  </div>
</div>
