

<div class="container">
  <div class="row">

<!-- サイドバー -->
    <div class="col-md-4">
    <%= render "layouts/sidebar" %>
    </div>

<!-- ジャケット画像 -->
    <div class="col-lg-4">
     <% if @history.item.image_id %>
      <%= attachment_image_tag @item, :image, :fill, 200, 200, :size => "200x200", fallback: "no-item-image.jpg" %>
     <% elsif @history.item.item_image %>
      <%= image_tag(@history.item.item_image, class: "rounded img-thumbnail" ) %>
     <% else %>
      <%= image_tag('no-item-image.jpg', :size => '200x200') %>
     <% end %>
    </div>

      <!-- ステータス部分は後で変更する -->
    <div class="col-lg-4">
      <p><%= @history.item.artist.artist_name %></p>
      <p><%= @history.item.item_name %></p>
      <p>価格:¥ <%= @history.price %></p>
      <p>購入日: <%= @history.shopping_cart.order.created_at.strftime('%Y年%m月%d日') %></p>
      <p>送付先: <%= @history.shopping_cart.order.address %></p>
      <p>ステータス: <%= @status %></p>
    </div>
  </div>

</div>