<div class="container">
  <div class="row justify-content-md-center mb-lg-5">
    <div class="col-md-10 mx-auto">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <h2>商品新規追加</h2><br>

      <!-- Form section -->
      <%= form_for @item, url: admin_create_item_path do |f| %>
        <!-- Error messages -->
        <%= render "layouts/error_messages", model: @item %>

        <div class="form-group">
          <%= f.label :artist_name %><br>
          <%= f.text_field :artist_name, class: "form-control", placeholder: "アーティスト名" %>
        </div>
        <div class="form-group">
          <%= f.label :item_name %><br>
          <%= f.text_field :item_name, class: "form-control", placeholder: "アルバム/シングル名" %>
        </div>
        <div class="form-group">
          <%= f.label :image %><br>
          <%= f.attachment_field :image, class: "form-file-input", placeholder: "item_image" %>
        </div>
        <div class="form-group">
          <%= f.label :price %><br>
          <%= f.text_field :price, class: "form-control", placeholder: "価格" %>
          <small class="form-text text-muted">価格は区切り無しの数値のみを入力してください</small>
        </div>
        <div class="form-group">
          <%= f.label :label_name %><br>
          <%= f.text_field :label_name, class: "form-control", placeholder: "レーベル名" %>
        </div>
        <div class="form-group">
          <%= f.label :genre %><br>
          <%= f.select :genre,[
            ["J-pop", "j-pop"],
            ["ロック", "rock"],
            ["ジャズ", "jazz"],
            ["クラシック", "classical"],
            ["ダンス", "dance"],
            ["R&B", "r&b"],
            ["ヒップホップ", "hiphop"],
            ["メタル", "metal"]
          ], {}, class: "form-control", placeholder: "ジャンル名" %>
      </div>
      <div class="form-group">
        <%= f.label :songs %><br>

        <table class="table">
          <thead>
            <tr class="nested-fields">
              <th scope="col">#</th>
              <th scope="col">曲名</th>
              <th scope="col">ディスク番号</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="songs">
            <%= f.fields_for :songs do |g| %>
              <%= render "song_fields", f: g %>
            <% end %>
          </tbody>
        </table>

        <div class="link">
          <%= link_to_add_association '追加', f, :songs,
              class: "btn btn-primary",
              data: {
                association_insertion_node: "#songs",
                association_insertion_method: "append"
              }%>
      </div>

      </div>
      <div class="form-group">
        <%= f.label :stock%><br>
        <%= f.text_field :stock, class: "form-control", placeholder: "在庫数" %>
      </div>
      <div class="form-action">
        <%= f.submit "登録", class: "btn btn-lg btn-outline-success" %>
      </div>
    <% end %>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>


