<div class="container" >
  <div class="row my-3 justify-content-center" >
    <div class="col-lg-9">
      <h2>商品詳細</h2>
    </div>
  <!-- 管理者のみ表示 -->
  <% if user_signed_in? && current_user.admin == true %>
    <div class="col-lg-1">
      <%= link_to '編集', admin_edit_item_path, class: 'btn btn-light' %>
    </div>
    <div class="col-lg-1">
      <!-- 商品削除処理後、商品一覧画面へ遷移-->
      <%= link_to '削除', search_index_path, class: 'btn btn-light' %>
    </div>
  <% end %>
  </div>
  <!-- 上段：画像、収録曲 -->
  <div class="row">
    <!-- 商品画像表示 -->
    <div class="col-lg-5">
      <% if @item.image_id %>
        <%= attachment_image_tag @item, :image, :fill, 200, 200, :size => "200x200", fallback: "no-item-image.jpg" %>
      <% elsif @item.item_image %>
        <%= image_tag(@item.item_image, :size => '200x200') %>
      <% else %>
        <%= image_tag('no-item-image.jpg', :size => '200x200') %>
      <% end %>
    </div>

    <!-- 曲表示 -->
    <div class="col-lg-7">
      <h5>収録曲</h5>
      <div class="row">
        <% @count.times do |c| %>
          <table class="table table-borderless table-sm col-md-4">
            <thead>
              <!-- 2枚組以上の場合、Disc毎のヘッダーを表示 -->
              <% if @count >= 2 %>
                <% num = c+1 %>
                <tr>
                  <th scope="col"><%= "<Disc#{num}>" %></th>
                </tr>
                <thead>
                  <tbody>
                    <% eval("@disc#{num}").each.with_index(1) do |d,i| %>
                      <tr>
                        <td><%= "#{i}." %><%= d.name %></td>
                      </tr>
                    <% end %>
                  <% else %>
                    <!-- １枚組の場合 -->
                    <% @songs.each.with_index(1) do |s,i| %>
                      <tr>
                        <td><%= "#{i}." %><%= s.name %></td>
                      </tr>
                    <% end %>
                  <% end %>
                  </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <!-- 下段：詳細情報 -->
  <div class="row">
    <table class="row table table-borderless col-md-12">
      <thead>
        <tr>
          <th scope="row">・アーティスト</th>
          <td><%= @item.artist.artist_name %></td>
        </tr>
        <tr>
          <th scope="row">・シングル/アルバム</th>
          <td><%= @item.item_name %></td>
        </tr>
        <tr>
          <th scope="row">・レーベル</th>
          <td><%= @item.label.label_name %></td>
        </tr>
        <tr>
          <th scope="row">・ジャンル</th>
          <td><%= @item.genre %></td>
        </tr>
        <tr>
          <th scope="row">・発売日</th>
          <td><%= l @item.created_at, format: :long %></td>
        </tr>
        <tr>
          <th scope="row">・在庫数</th>
          <td><%= @item.stock %></td>
        </tr>
      </thead>
    </table>
  </div>

  <!-- 最下段：カート追加-->
  <% if user_signed_in? %>
    <div class="add_cart col-lg-12 text-right">
      <%= form_for(@cart_item) do |f| %>
        <div >
          <strong>購入枚数</strong>
          <%= f.text_field :quantity, class: "col-sm-1" %>
          <strong>枚</strong>
          <%= f.submit 'カート追加', :class => "btn btn-light col-lg-2" %>
        </div>
      <% end %>
    </div>
  <%end%>
  <br>
  <br>
</div>
