<div class="container" >
  <div class="row my-3 justify-content-center" >
    <div class="col-md-6">
      <!-- 管理者のみ表示 -->
  <% if user_signed_in? && current_user.admin == true %>
    <%= link_to '編集', admin_edit_item_path, class: 'btn btn-light' %>
    <!-- 商品削除処理後、商品一覧画面へ遷移-->
    <%= link_to '削除', search_index_path, class: 'btn btn-light' %>
  <% end %>
  <!-- 商品画像表示 -->
  <% if @item.image_id %>
    <%= attachment_image_tag @item, :image, :fill, 200, 200, :size => "200x200", fallback: "no-item-image.jpg" %>
  <% elsif @item.item_image %>
    <%= image_tag(@item.item_image, class: "rounded img-thumbnail" ) %>
  <% else %>
    <%= image_tag('no-item-image.jpg', :size => '200x200') %>
  <% end %>

  <table class="row table table-borderless col-md-12">
    <tbody>
      <tr>
        <th scope="row">・シングル/アルバム</th>
        <td><strong><%= @item.item_name %></strong></td>
      </tr>
      <tr>
        <th scope="row">・アーティスト</th>
        <td><%= @item.artist.artist_name %></td>
      </tr>
      <tr>
        <th scope="row">・レーベル</th>
        <td><%= @item.label.label_name %></td>
      </tr>
      <tr>
        <th scope="row">・ジャンル</th>
        <td><%= @item.genre %></td>
      </tr>
      <tr>
        <th scope="row">・発売日</th>
        <td><%= l @item.created_at, format: :long %></td>
      </tr>
      <tr>
        <th scope="row">・在庫数</th>
        <td><%= @item.stock %></td>
      </tr>
    </tbody>
  </table>
  <!-- カート追加-->
    <% if user_signed_in? %>
      <div class="add_cart mt-5">
        <%= form_for @cart_item do |f| %>
        <div class="form-row">
          <div class="col-2">
            <label class="my-1">購入枚数</label>
          </div>
          <div class="col">
            <%= f.text_field :quantity, class: "form-control" %>
          </div>
          <div class="col">
            <label class="my-1">枚</label>
          </div>
          <div class="col-7">
            <%= f.submit 'カートに追加する', :class => "btn btn-warning" %>
          </div>
        </div>
        <% end %>
      </div>
    <%end%>
    </div>

    <!-- 曲表示 -->
    <div class="col-md-6">
      <h5>収録曲</h5>

      <% if false %>
        <% @count.times do |c| %>
          <table class="table table-borderless overflow-auto" style="max-height: 100px">
            <thead>
              <!-- 2枚組以上の場合、Disc毎のヘッダーを表示 -->
              <% if @count >= 2 %>
                <% num = c+1 %>
                <tr>
                  <th scope="col"><%= "<Disc#{num}>" %></th>
                </tr>
                <thead>
                  <tbody>
                    <% eval("@disc#{num}").each.with_index(1) do |d,i| %>
                      <tr>
                        <td><%= "#{i}." %><%= d.name %></td>
                      </tr>
                    <% end %>
                  <% else %>
                    <!-- １枚組の場合 -->
                    <% @songs.each.with_index(1) do |s,i| %>
                      <tr>
                        <td><%= "#{i}." %><%= s.name %></td>
                      </tr>
                    <% end %>
                  <% end %>
                  </tbody>
          </table>
        <% end %>
      <% end %>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">タイトル</th>
          </tr>
        </thead>
        <tbody>
        <% @songs.each do |s| %>
          <tr>
            <th scope="row"><%= s.song_number %></th>
            <td></td>
            <td><%= s.name %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <br>
    <br>
  </div>
</div>
