<div class="container">
  <div class="row">
    <h2>アーティスト名： <%= @artist.artist_name %></h2>
  </div>
<br>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>User名　　</th>
          <th>     </th>
        </tr>
      </thead>
      <% @user.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.name %></td>
          <td><%= link_to "詳細", user_path(@user), class: "btn btn-light" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <%= paginate @user, class: "pagenate" %>
  </div>

    <div class="row">
      <div class="col-md-5 offset-7">
      <%= link_to "定期購買受付", user_path(@user), class: "btn btn-light" %>
      </div>
    </div>
<br>
<br>
<br>
<br>
<br>
</div>