<div class="container">
  <div class="row">
    <h2>アーティスト名： <%= @artist.artist_name %></h2>
  </div>
<br>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>User名　　</th>
          <th>     </th>
        </tr>
      </thead>
      <% @subscription.each do |subscription| %>
      <tbody>
        <tr>
          <td><%= subscription.user.name %></td>
          <td><%= link_to "詳細", user_path(subscription.user.id), class: "btn btn-light" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <%= paginate @subscription, class: "pagenate" %>
  </div>
  <div class="row">
    <div class="col-md-5 offset-7">
      <%= link_to "定期購買受付", admin_path(aritst_id: @artist.id), method: :post, class: "btn btn-light" %>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>