<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <h2>新規コミュニティリクエスト</h2><br>

      <!-- form section -->
      <%= form_for @community, url: communities_path do |f| %>
        <%= render "layouts/error_messages", model: f.object %>
        <div class="form-group">
          <%= f.label :artist_name %><br>
          <%= f.text_field :artist_name, class: "form-control", placeholder: "アーティスト名" %>
        </div>
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "form-control", placeholder: "コミュニティ名" %>
        </div>
        <div class="form-group">
          <%= f.label :introduction %><br>
          <%= f.text_area :introduction, class: "form-control", placeholder: "コミュニティ紹介文" %>
        </div>
        <div class="form-action">
          <%= f.submit "リクエスト送信", class: "btn btn-outline-success" %>
        </div>
      <% end %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>

