<div class="container">
  <div class="row">
    <div class="col-lg-9">
    <h4><span>コミュニティ名 </span><span><%= @qa.community.name %></span></h4>
    </div>
    <%= link_to "Q一覧", community_question_index_path(@community.id), class: "btn btn-light" %>
  </div>

  <!-- エラーメッセージ -->
  <%= render "layouts/error_messages", model: @answer %>

<!-- 質問者部分 -->
    <div class="row">
      <div class="col-lg-10">
        <h3><span>Q. </span><span><%= @qa.question %></span></h3>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-7">
      <h4><span>ユーザー名 </span><span><%= @qa.user.name %></span><h4>
    </div>



     <!-- ライン -->
    <div class="col-lg-11" style="border-bottom: solid 2px #C0C0C0;"></div>


<!-- 回答者部分　 -->
    <div class="row">
      <div class="col-lg-12">
        <% @answers.each do |post| %>


              <h4><span>A </span>
              <span>
                <div class="row">
                  <div class="col-lg-9">
                    <p><%= post.answer %></p>
                  </div>
                  <!-- 管理者のみ表示 -->
                  <% if administrator_signed_in?  %>
                  <%= link_to '削除', community_question_path(@community, @qa.id, :answer_id => post.id), method: :delete, class: 'btn btn-link', "data-confirm" => "Are you sure?" %>
                  <% end %>
                </div>
              </span>
              </h4>

              <div class="col-lg-4 offset-lg-7">
                  <h5><span>ユーザー名</span><span><%= post.user.name %></span></h5>
              </div>

        <% end %>
      </div>
    </div>

</div>

<!-- ページネーション -->
<div class="container">
  <div class="col-lg-4 offset-lg-3">
  <%= paginate @answers %>
  </div>
</div>




<!-- アンサー記入欄 -->
<div class="container">
  <h5>アンサー記入欄</h5>

  <!--  アンサー投稿部分　-->
  <%= form_for @answer, url: community_question_path(@community, @qa.id) do |f| %>

  <div class="row">
  <%= f.text_field :answer, class: "col-lg-8" %>
  <%= f.submit "送信", class: "col-lg-1" %>
  <% end %>
  </div>


</div>
